* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

ul, ol {
  list-style-type: none;
}

.header {
  /* position: sticky; */
  /* top: 0; */
  padding: 0px 0;
  width: 100%;
  height: 64px;
  padding: 0 5vw;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
}


.header__btn {
  border: 0;
  height: 36px;
  width: 150px;
  margin-left: auto;
  background: #f69321;
  cursor: pointer;
  color: #f5f5f5;
}

.header__btn:hover {
  background: #ee850d;
}

/* First section */

.promo-mountain {
  background-image: url('photo1.jpg');
  height: calc(100vh - 64px);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  /* top: 64px; */
}

.promo-mountain__card {
  background: rgba(0, 0, 0, .2);
  padding: 20px 40px;
  width: 300px;
  color: #f5f5f5;
  text-align: center;
  font-size: 1.6rem;
  line-height: 30px;
  /* letter-spacing: 2px; */
}

/* Second section */

.carousel {
  height: 80vh;
}

.left-wrap {
  width: 75%;
}

.carousel__left {
  float: left;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #f5f5f5;
}

.carousel__left h2 {
  margin: 10px 0;
}

.carousel__left p {
  margin: 30px 0;
}

.arrow-div {
  display: flex;
  justify-content: flex-end;
}

.arrow-div > :last-child {
  margin-right: 15px;
  margin-left: 10px;
}

.carousel__img {
  width: 50%;
  height: 100%;
  float: right;
  background-image: url('photo2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgba(0, 0, 0, 0);
} 

/* Third section */

.email-sub {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url('photo3.jpg');
  background-position: center;
  background-size: cover;
  color: #f5f5f5;
  padding: 3vh 5vw;
} 

.email-sub h2 {
  font-size: 2rem;
}

.email-sub h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
}

.email-sub .input-title {
  margin-bottom: 10px;
  margin-top: 50px;
}

.input-container input {
  border: 1px solid #fff;
  background: none;
  height: 30px;
  width: 220px;
  padding: 0 10px;
  color: #f5f5f5;
  margin-right: 20px;
}

.input-container button {
  height: 30px;
  border: 1px solid #f69321;
  width: 100px;
  background: #f69321;
  color: #f5f5f5;
  cursor: pointer;
}

.input-container button:hover {
  background-color: #ee850d;
  border-color: #ee850d;
}

/* Fourth section */

.section-four {
  padding: 5vh 5vw;
  height: 80vh;
}

.section-four h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.section-four h3 {
  text-align: center;
  margin-bottom: 15px;
}

.section-four > p {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.icon-list {
  display: flex;
  justify-content: space-evenly;
  margin: 60px 0;
} 

.icon-list p {
  /* width: 60%; */
  padding: 0 30px;
}

.icon-card {
  text-align: center;
}

/* Footer */

.footer {
  height: 70vh;
  padding: 3vh 5vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),  url('photo4.jpg');
  background-position: center;
  background-size: cover;
}

.footer h4 {
  width: 50%;
  font-weight: 100;
  font-size: 1.3rem;
  padding-bottom: 20px;
}

.footer label {
  display: block;
  padding-bottom: 2px;
}

.footer input {
  margin-bottom: 10px;
}

.footer input, footer textarea {
  width: 350px;
  border: 1px solid #3d3d3d;
  padding: 5px;
}

.footer textarea {
  height: 150px;
}

.footer .send-btn {
  border: 0;
  margin-top: 10px;
  height: 36px;
  width: 150px;
  background: #f69321;
  cursor: pointer;
  display: block;
  color: whitesmoke;
  font-size: 1rem;
}

.footer .send-btn:hover {
  background: #ee850d;
}